<header>
  <div>
    <h1 style="font-size:60px;margin:0px auto 0 auto; text-align: center;">
      BuyAny
    </h1>
    <p>Products and items from all categories can be found here</p>
  </div>
</header>
<body>
  <div class="example-button-row">
    <button mat-raised-button color ="primary" routerLink="">Home</button>
    <button mat-raised-button color ="primary" routerLink="/products">Products</button>
    <button mat-raised-button color ="primary" routerLink="/listcommands">Commands</button>
    <button mat-raised-button color ="primary" routerLink="/authentication">Authentication</button>
  </div>
    
  <router-outlet></router-outlet>

</body>